*{
  font-family: 'Open Sans', sans-serif;
  color:#fff;
}
body {
  color: #FFFFFF;
  background-color: #013356;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}
a{
  color:#fff;
}
.italic {
  font-style: italic;
}
.white{
  color:#fff !important;
}
.bold {
  font-weight: 700;
}
#tabzilla{
  right:15%;
  z-index: 1000;
}
.container-fluid{
  min-width:100%;
  max-width:100%;
}
.landing-section{
  padding-bottom: 325px;
  background: url('../images/full-bg-wo-top-wo-globe.png') repeat scroll left top / cover transparent;
  background-position: 10px 45px !important;
}
#top-static-fix{
  background-color:rgba(10, 134, 188,0.7);
  padding-top:80px;
  padding-bottom:30px;
  position:relative;
}
#abs-img-logo{
  display: block;
  position: absolute;
  width: 363px;
  height: 208px;
  right: 20px;
  bottom: -118px;
}
#heading{
  font-weight:300;
  font-size:70px;
}
#top-static-fix p{
  font-size:16px;
  margin-top:10px;
  line-height:2em;
}
.way-to-involve p{
  font-size:3em; 
  margin-top:10px;
  font-weight:300;
}
.involve-btn{
  margin-top:10px;
}
.involve-btn>div>div{
  height:60px;
}
.involve-btn a.on-off{
  background-color:#16A913;
  border-radius:6px;
  border:1px solid #fff;
  padding:8px 60px;
  font-weight:700;
}
/* message section */
.message-section{
  padding-top:10px;
}
.message-section .message-head{
  padding-bottom:20px;
}
.message-section .message-head p{
  font-size:3em;
  font-weight:300;
}
.icon-div img{
  height: 110px;
  width: 90px;
  margin: auto;
  display: block;
}
.icon-div i{
  display:block;
  font-size:7em;
  color:#0D99D6;
  text-align: center;
}
.tile{
  padding-bottom:10px;
}
.tile-head p,.tile-body p,.tile-footer a, .tile-body ul li{
  font-size:1.2rem;
}
.tile-footer i{
  padding-left:10px;
}
footer{
  background-color:#001B30;
  padding:30px 0px;
}
footer *{
  font-size:12px;
}
footer ul li{
  list-style-type: none;
}
footer a{
  color:#0886B9 !important;
}
footer ul a{
  font-style: italic;
}
.footer-row>.columns{
  padding-top:10px;
}
/*background: url('../img/home-bg2.jpg') repeat scroll center center / cover transparent;*/

@media(max-width: 40em){
  #heading{
    font-size:2.5em;
  }
  .landing-section{
    background-image:none;
    padding-bottom:30px;
  }
  #abs-img-logo{
    display:none;
  }
  .message-section .message-head p{
    font-size:2.5em;
  }
  .col-tile{
    padding-bottom:20px;
  }
}